.heroSection {
  color: #fff;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-height: 435px;
  padding-top: 87px;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 700;
  display: flex;
  position: relative;
}

.heroBackground {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.heroContent {
  flex-direction: column;
  align-self: center;
  align-items: stretch;
  width: 100%;
  max-width: 933px;
  display: flex;
  position: relative;
}

.mainTitle {
  font-size: 80px;
}

.subTitle {
  text-align: center;
  align-self: start;
  margin-top: 9px;
  font-size: 65px;
}

.highlight {
  color: rgb(0, 155, 30);
}

.divider {
  border: 1px solid #fff;
  width: 100%;
  min-height: 1px;
  margin-top: 186px;
}

@media (width <= 991px) {
  .heroSection {
    max-width: 100%;
    margin-top: 40px;
  }

  .heroContent {
    max-width: 100%;
  }

  .mainTitle {
    max-width: 100%;
    font-size: 40px;
  }

  .subTitle {
    font-size: 40px;
  }

  .divider {
    max-width: 100%;
    margin-top: 40px;
  }
}

@media (width <= 640px) {
  .divider {
    margin-top: 160px;
  }
}
