.homeusuario {
  background-color: #031d31;
  border: 1px solid #000;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSection {
  margin-bottom: 100px; /* Aumenta la separación */
}

.missionVision {
  margin-top: 0px; /* Ajuste adicional si es necesario */
}



@media (width <= 991px) {
  .home-usuario {
    padding-bottom: 100px;
  }
}
