.finance-dashboard {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #031d31;
  }
  
  @media (max-width: 991px) {
    .finance-dashboard {
      max-width: 991px;
    }
  }
  
  @media (max-width: 640px) {
    .finance-dashboard {
      max-width: 640px;
    }
  }