.user-card {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 5% ;
  }
  
  .user-info {
    flex-grow: 1;
  }
  
  .user-name {
    color: #fff;
    font-family: "Istok Web", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .user-role {
    width: 333px;
    height: 58px;
    border-radius: 30px;
    border: 3px solid #000;
    color: rgba(0, 0, 0, 0.56);
    font-family: "Istok Web", sans-serif;
    font-size: 24px;
    font-weight: 700;
    background-color: #f1eaea;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .view-button {
    width: 386px;
    height: 66px;
    border-radius: 25px;
    border: 1px solid #000;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    margin-left: auto;
    background-color: #ff6709;
  }
  
  @media (max-width: 991px) {
    .user-card {
      flex-direction: column;
      text-align: center;
    }
  
    .user-info {
      margin-bottom: 20px;
    }
  
    .view-button {
      margin: 0;
      width: 100%;
    }
  }
  
  @media (max-width: 640px) {
    .user-name {
      font-size: 30px;
    }
  
    .user-role {
      width: 100%;
      font-size: 20px;
    }
  }