
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Coloca los elementos en extremos opuestos */
  padding: 10px 20px;
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Incluye padding en el tamaño total */
}

.menuIcon {
  width: clamp(70px, 15vw, 120px); /* Tamaño más grande y adaptable */
  height: clamp(70px, 15vw, 120px); /* Tamaño más grande y adaptable */
  object-fit: contain; /* Escala correctamente */
}

.mainLogo {
  width: clamp(150px, 25vw, 300px); /* Tamaño más grande y adaptable */
  height: clamp(100px, 20vw, 250px); /* Tamaño más grande y adaptable */
  object-fit: contain; /* Escala correctamente */
}



@media (max-width: 500px) {
  .header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
  }
  
  .mainLogo {
    width: 120px;
    height: 120px;
  }

  .menuIcon {
    width: 60px; 
    height: 60px;
  }
}