/* Header.module.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  padding: 10px 20px; /* Espaciado alrededor del contenido */
}

.menuIcon {
  width: 100px; /* Ajusta el tamaño de las imágenes */
  height: 150px;
  object-fit: contain;
}
/* Header.module.css */
.mainLogo {
  width: 250px; /* Ajusta el tamaño de la imagen */
  height: 200px;
  object-fit: contain;
}


@media (max-width: 500px) {
  .header {
    display: flex;
    justify-content: space-between; /* Coloca los elementos en las esquinas */
    align-items: center;
    padding: 10px; /* Agrega espacio alrededor */
  }
  
  .mainLogo {
    width: 120px; /* Haz el main logo más grande */
    height: 120px;
  }

  .menuIcon {
    width: 60px; /* Tamaño del menú, ajustable si lo deseas */
    height: 60px;
  }
}