.formSection {
  width: 100%;
  padding: 0 59px;
  font-family: "Istok Web", -apple-system, Roboto, Helvetica, sans-serif;
}

.formTitle {
  color: #ef0;
  font-size: 48px;
  font-weight: 700;
  margin: 25px 0;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formRow {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-weight: 700;
  max-width: 1005px;
  width: 100%;
}

.inputGroup {
  display: flex;
  gap: 13px;
  width: 100%;
}

.selectWrapper {
  background-color: #f1eaea;
  border: 3px solid #000;
  border-radius: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 26px 38px;
}

.select {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  outline: none;
}

.input {
  background-color: #f1eaea;
  border: 3px solid #000;
  border-radius: 30px;
  flex: 1;
  padding: 32px 38px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.messageLabel {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 24px;
}

.messageInput {
  background-color: #f1eaea;
  border: 3px solid #000;
  border-radius: 30px;
  width: 100%;
  min-height: 300px;
  padding: 32px 29px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  resize: vertical;
}

.submitButton {
  color: #000;
  text-align: center;
  background-color: #ff6709;
  border: 1px solid #000;
  border-radius: 25px;
  width: 418px;
  max-width: 100%;
  min-height: 96px;
  margin: 64px auto;
  padding: 25px 10px;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #ff8137;
}

@media (max-width: 991px) {
  .formSection {
    padding: 0 20px;
  }

  .formTitle {
    font-size: 40px;
  }

  .selectWrapper,
  .input {
    padding: 20px;
  }

  .messageInput {
    padding: 20px;
    min-height: 200px;
  }

  .submitButton {
    margin-top: 40px;
  }
}

/* Estilo del modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 100;
  text-align: center;
  width: 300px;
  max-width: 90%;
}

/* Fondo de oscurecimiento detrás del modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/* Botón de cierre dentro del modal */
.modalContent button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modalContent button:hover {
  background-color: #0056b3;
}